@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar for the entire app */
body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  overflow-y: scroll; /* Still allow vertical scroll */
}

body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
